/* =============member page========== */
body {
    padding: 2rem 16.25rem;
    font-family: 'Open Sans', sans-serif;
    
}
p {
    color: #727878;
    font-size: 1rem;
    line-height: 1.64;
}
#member_header {
    text-align: center;
    border-bottom: 1px solid #e3e4e4;
    padding-bottom: 20px;
}
#member_header h1 {
    font-weight: 300;
    font-size: 3.375rem;
    color: #22A39F;
    margin-bottom: 0;
}
#member_header p {
    font-weight: 300;
    font-size: 1.3rem;
    color: #727878;
    line-height: 1.4;
    margin-top: 15px;
}
#member_main {
    padding: 50px 0 100px 0;
    border-bottom: 1px solid #e3e4e4;
}
#member_main .detail {
    float: right;
    width: 30%;
    text-align: right;
}
#member_main .detail ul{
    list-style: none;
}
#member_main .detail ul li p{
    margin: 6px 0;
    display: inline-block;
}
#member_main .about_me{
    float: left;
    width: 30%;
    padding-right: 21px;
}
.heading_member {
    font-size: 2rem;
    color: #22A39F;
    font-weight: 300;
}
#member_footer {
    text-align: center;

}
.button {
    background-color: #ffc439;
    padding: 3px 23px;
    border-radius: 33%;
    text-decoration: none;
    font-size: .8rem;
    color: #000000;
    font-weight: 700;
}
img.avatar {
    border-radius: 50%;
    width: 246px;
    height: 246px;
    border: 12px solid #f3efe0;
}