body::after{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    z-index: -1; 
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 4rem 8rem;
    overflow-x: hidden;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
}
/* ===========header========= */
#header {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.65);
}
#header h2 {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1rem;
    margin-bottom: 1.5rem;
}
/* ==============main=========/ */
.heading {
    text-align: center;
    background-color: #fff;
    padding: 4rem 0;
}
.heading_title {
    color: #1e1f23;
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0;
}
.heading hr {
    width: 50px;
    color: rgba(255, 255, 255, 0.65);
}
.heading p {
    text-transform: uppercase;
    font-weight: 300;
    font-size: .8rem;
    letter-spacing: .25rem;
    color: #bbb;
}

.intro {
    background-color: #f4f4f4;
    padding: 6rem;
}
.heading_para {
    padding: 0 0 2rem 0;
    color: rgba(0, 0, 0, 0.5);
}

.members .member.img_right img{
    float: right;
}
.members .member.img_right .nfo {
    background-color: #f4f4f4;
    padding: 6rem 38rem 6rem 4rem;
}
.members .member {
    height: 400px;
}
.members .member img {
    float: left;
    width: 50%;
    height: 100%;
}
.members .member .nfo {
    background-color: #f4f4f4;
    padding: 6rem 3rem 6rem 38rem;
}
.members .member .nfo h3 {
    font-size: 1.35rem;
    line-height: 1.5;
    margin: 0 0 1rem 0;
}
.members .member .nfo p {
    padding: 0;
}

#footer {
    padding: 5rem 13rem 0 13rem;
    text-align: center;
    color: #bbb;
}
#footer img {
    width: 35px;
    height: 35px;
    margin: 0 10px;
}

